{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ user_profile.image.url }}" width="600" height="400" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-4 fw-bold text-white">{{ user_profile.user.username }}</h1>
            <p class="lead mb-4 text-light">Фамилия:
                {% if user_profile.user.last_name %}
                {{ user_profile.user.last_name }}
                {% else %}
                <span class="fst-italic">Неуказано</span>
                {% endif %}</p>
            <p class="lead mb-4 text-light">Имя:
                {% if user_profile.user.first_name %}
                {{ user_profile.user.first_name }}
                {% else %}
                <span class="fst-italic">Неуказано</span>
                {% endif %}
            </p>
            {% if user_profile.birthday %}
            <p class="lead mb-4 text-light">Дата рождения: {{ user_profile.birthday }}</p>
            {% endif %}
            {% if user_profile.email %}
            <p class="lead mb-4 text-light">Электронный адрес: {{ user_profile.email }}</p>
            {% endif %}
            <p class="lead mb-4 text-light">Выпито кофе: {{ user_profile.coffee_count }}</p>
        </div>
    </div>
</div>
{% endblock %}
