<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0 text-white">{{ item.name }}</h3>
            <div class="mb-1 text-light">
                Теги:
                {% for tag in item.tags.all %}
                {% if forloop.last %}
                {{ tag }}
                {% else %}
                {{ tag }},
                {% endif %}
                {% endfor %}
            </div>
            <p class="card-text mb-auto text-light">{{ item.text|truncatewords_html:10 }}</p>
            <a href="{% url 'catalog:catalog_item' item.id %}" class="stretched-link">Подробнее</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="0" height="250" role="img"
                 aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>
                    Placeholder
                </title>
                <img src="{{ item.main_image }}" width="300" height="300">
            </svg>
        </div>
    </div>
</div>